<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Detalhes do Evento</title>
</head>
<body>
<div class="container">
    <h1>Detalhes</h1>
        <div th:each="evento : ${evento}">
            <div class="row">
                <p>Nome: <span th:text="${evento.nome}"></span></p>
                <p>Ministrador: <span th:text="${evento.ministrador}"></span></p>
                <p>Local: <span th:text="${evento.local}"></span></p>
                <p>Data: <span th:text="${evento.data}"></span></p>
                <p>Começa às:<span th:text="${evento.horarioInicio}"></span></p>
                <p>Termina às:<span th:text="${evento.horarioFim}"></span></p>
            </div>
        </div>
    <a href="/eventos" class="waves-effect waves-red red darken-3 btn"><i class="material-icons left">navigate_before</i>Voltar</a>
</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
</body>
</html>